.app {
  max-width: 1600px;
  margin: 0 auto;
}

.appHeader {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.filterContainer {
  margin: 0 24px;
}

@media (min-width: 769px) {
  .filterContainer {
    width: 15%;
    margin: 0;
  }
}

.section {
  display: block;
}

@media (min-width: 769px) {
  .section {
    display: flex;
  }
}

.tilesContainer {
  background-color: #f1f1f1;
  margin: 0 20px;
}

@media (min-width: 769px) {
  .tilesContainer {
    width: 85%;
  }
}

.appLink {
  color: rgb(112, 76, 182);
}
